html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text_nengajo {
  display: inline-block;
  font-family: 'Zen Old Mincho', serif;
}

.text_nengajo::first-letter {
  color: #f00;
}
[data-theme='dark'] .text_nengajo::first-letter {
  color: rgb(255, 32, 32);
}
