html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text_nengajo,
.text_serif {
  display: inline-block;
  vertical-align: top;
  font-family: 'Zen Old Mincho', serif !important;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes flow {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 10px;
  }
  100% {
    padding-top: 0;
  }
}
